opencv-python
opencv-python-headless
numpy
scipy
matplotlib
pillow
imutils
requests
ffmpeg-python
av
imageio
imageio-ffmpeg
tqdm
scikit-image
scikit-learn
pandas
torch
torchvision
torchaudio
ultralytics